.site-footer {
  margin: 20px auto 0;
  padding: 70px 45px;
  color: #757575;
  border-top: 8px solid #222;
}

.footer-links {
  margin-top: 30px;
  font-size: 16px;
}

.footer-links li {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
  padding-right: 12px;
  min-width: 100px;
  width: 25%;
  vertical-align: top;
}
