.login-header {
  /* position: absolute; */
  /* left: 0;
    top: 0; */
  height: 90px;
  width: 100%;
  border-bottom: transparent;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0) 100%
  );
}

.login-header .svg-logo {
  margin-left: 3%;
  text-decoration: none;
  vertical-align: middle;
  fill: var(--color-red);
  display: inline-block;
  line-height: 90px;
}

.login-header .svg-logo img {
  height: 45px;
  width: 167px;
  vertical-align: middle;
}
