.admin-table {
  width: 90vw;
  margin: 15px auto;
  color: #212529;
  line-height: 1.5;
  border-bottom: 1px solid #dee2e6;
}

.admin-table td,
.admin-table th {
  padding: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.admin-table thead th {
  vertical-align: bottom;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

.admin-table thead th.title {
  width: 30%;
}

.admin-table .thumb {
  width: 90px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.admin-table .item-name {
  width: 30%;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
}

.admin-buttons button {
  margin-bottom: 10px;
  min-width: 66px;
  min-height: 40px;
  color: var(--color-white);
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.edit-button {
  background: var(--color-orange);
}

.delete-button {
  background: red;
}
