.password-recovery-page {
  height: 90vh;
  background-color: var(--color-white);
}

.center-container {
  padding: 20px 32px 60px;
  margin: 0 auto 15px;
  max-width: 978px;
}

.signup-form-container {
  text-align: left;
  max-width: 440px;
  margin: 0 auto;
}

.signup-form-container h1 {
  font-weight: 700;
  font-size: 23px;
  color: #333333;
  margin: 20px 0 10px;
}

.context-row {
  font-size: 16px;
  line-height: 1.4;
}

.recover-button {
  color: #fff;
  margin-top: 24px;
  background-color: #e50914;
  min-height: 48px;
  font-weight: 400;
  font-size: 17px;
  border-radius: 2px;
  line-height: 1;
  padding: 10px 25px;
  min-width: 110px;
  width: 100%;
  border: none;
  outline: none;
}
